<div class="message-detail-header">
  <h3>Create a message</h3>
</div>
<div class="col-md-6 mt-5">
  <form class="dash__form">
    <div class="mb-3 input-box">
      <input type="email" class="form-input" id="email" placeholder="">
      <label for="email" class="input-label">Email</label>
    </div>
    <div class="mb-3 input-box">
      <input type="password" class="form-input" id="subject" placeholder="">
      <label for="subject" class="input-label">Subject</label>
    </div>
    <div class="textarea-box mb-3">
      <textarea class="form-textarea" placeholder="" id="textarea"></textarea>
      <label class="input-label">Comments</label>
    </div>
    <button type="submit" class="default-btn btn">Submit</button>
  </form>
</div>
