<div class="head" [ngClass]="getHeadClass()">
 <div class="head-content">
   <div class="head-content-left">
     <div class="head-menu-item">
       <button [routerLink]="['/home']" class="head-menu-btn ripple">
         <i class="bi bi-house"></i>
       </button>
     </div>
   </div>
   <div class="head-content-right">
     <div class="head-menu">
       <div class="head-menu-item">
         <button class="head-menu-btn ripple" (click)="toggleFullScreen()">
           <i class="bi bi-fullscreen menu-icon"></i>
         </button>
       </div>
       <div class="head-menu-item">
         <button class="head-menu-btn ripple" [cdkMenuTriggerFor]="notificationOverlay">
           <i class="bi bi-bell menu-icon"></i>
         </button>
       </div>
       <div class="head-menu-item">
         <button class="head-menu-btn ripple" [routerLink]="'messages'" routerLinkActive="">
           <i class="bi bi-chat-left menu-icon"></i>
         </button>
       </div>
     </div>
     <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
       <img src="assets/images/static/placeholder.png" alt="user" >
     </div>
   </div>
 </div>
</div>

<ng-template #notificationOverlay>
  <div class="overlay overlay-notification overlay-fall" cdkMenu>
    <ul>
      <li class="notification-head-container">
        <div class="notification-head">Notification</div>
        <span class="view-all-link">
          <a href="">View All</a>
        </span>
      </li>
      <li class="notification-message-container" *ngFor="let notification of notifications" cdkMenuItem>
          <i [class]="notification.icon"></i>
         <div>
           <div class="notification-subject">
             {{notification.subject}}
           </div>
           <p class="notification-message">
             {{notification.description}}
           </p>
         </div>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #messagesOverlay>
  <div class="overlay overlay-messages overlay-fall" cdkMenu>
    <ul>
      <li class="notification-head-container">
        <div class="notification-head">Messages</div>
        <span class="view-all-link">
          <a href="">View All</a>
        </span>
      </li>
      <li class="notification-message-container" *ngFor="let message of messages" cdkMenuItem>

      </li>
    </ul>
  </div>
</ng-template>
<ng-template #userOverlay>
  <div class="overlay overlay-user overlay-fall" cdkMenu>
    <ul class="p-0">
      <li class="user-container" *ngFor="let userItem of userItems" cdkMenuItem>
        <a href="">
          <i class="icon" [class]="userItem.icon"></i>
          <span>{{userItem.label}}</span>
        </a>
      </li>
    </ul>
  </div>
</ng-template>
