<section class="hero-home py-6">
  <div class="hero-home-content">
          <h5 class="reveal fade-bottom hero-home-small-title">WE ARE VERACITY TECH</h5>
          <h1 class="reveal fade-bottom hero-home-title" i18n>CLEAN SIMPLE & MINIMAL</h1>
          <p class=" reveal fade-bottom hero-home-description" i18n>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quisquam,
          </p>
          <button [routerLink]="'/'" class="default-btn reveal fade-bottom" i18n>Learn more</button>
        </div>
</section>
<section class="main-services py-6">
  <div class="container">
    <div class="title-block text-center">
      <h6 i18n class="reveal fade-bottom">Our Services</h6>
      <h3 i18n class="reveal fade-bottom">WHAT WE OFFER</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-card text-center">
          <div class="card-image reveal fade-bottom">
            <i class="bi bi-braces"></i>
          </div>
          <div class="card-body">
            <h5 class="reveal fade-bottom card-title" i18n>WEB DEVELOPMENT</h5>
            <p class=" reveal fade-bottom card-description" i18n>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quisquam,
            </p>
            <a href="" class="reveal fade-bottom cta">READ MORE <i class="bi bi-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-card text-center">
          <div class="card-image reveal fade-bottom">
            <i class="bi bi-palette"></i>
          </div>
          <div class="card-body">
            <h5 class="reveal fade-bottom card-title" i18n>UI/UX DESIGN</h5>
            <p class="reveal fade-bottom card-description" i18n>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quisquam,
            </p>
            <a href="" class="reveal fade-bottom cta">READ MORE <i class="bi bi-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-card text-center">
          <div class="card-image reveal fade-bottom">
            <i class="bi bi-search"></i>
          </div>
          <div class="card-body">
            <h5 class="reveal fade-bottom card-title" i18n>SEO</h5>
            <p class="reveal fade-bottom card-description" i18n>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quisquam,
            </p>
            <a href="" class="reveal fade-bottom cta">READ MORE <i class="bi bi-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about py-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img">
          <img src="assets/images/static/about.jpg" alt="about" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content py-4">
          <h5 class="reveal fade-bottom about-title" i18n>ABOUT US</h5>
          <p class="reveal fade-bottom about-description" i18n>
           Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Aperiam beatae commodi consequuntur doloremque
            ipsam possimus soluta, voluptatibus. Aliquam aut
            autem corporis dolore eligendi exercitationem
            facere illum inventore itaque minima necessitatibus
            nulla perferendis reprehenderit sed, soluta. Fuga
            ipsa quia quos repellendus.
          </p>
          <p class="reveal fade-bottom about-description" i18n>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Aperiam beatae commodi consequuntur doloremque
            ipsam possimus soluta, voluptatibus. Aliquam aut
            autem corporis dolore eligendi exercitationem.
          </p>
          <a href="" class="reveal fade-bottom cta">READ MORE <i class="bi bi-arrow-right ms-1"></i></a>

      </div>
    </div>
  </div>
  </div>
</section>
<section class="projects py-6">
  <div class="container">
    <div class="title-block text-center">
      <h6 class="reveal fade-bottom" i18n>PORTFOLIO</h6>
      <h3 class="reveal fade-bottom" i18n>OUR RECENT PROJECTS</h3>
    </div>

    <div class="project-gallery reveal fade-bottom">
      <div class="img-box">
        <img src="assets/images/static/gal-g.jpg" alt="project-1" />
        <figcaption>
          <h5 class="reveal fade-bottom">Project title</h5>
          <p class="reveal fade-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </figcaption>
      </div>
      <div class="img-box reveal fade-bottom">
        <img src="assets/images/static/gal-d.png" alt="project-1" />
        <figcaption>
          <h5 class="reveal fade-bottom">Project title</h5>
          <p class="reveal fade-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </figcaption>
      </div>
      <div class="img-box reveal fade-bottom">
        <img src="assets/images/static/gal-c.jpg" alt="project-1" />
        <figcaption>
          <h5 class="reveal fade-bottom">Project title</h5>
          <p class="reveal fade-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </figcaption>
      </div>
      <div class="img-box reveal fade-bottom">
        <img src="assets/images/static/gal-b.jpg" alt="project-1" />
        <figcaption>
          <h5 class="reveal fade-bottom">Project title</h5>
          <p class="reveal fade-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </figcaption>
      </div>
      <div class="img-box reveal fade-bottom">
        <img src="assets/images/static/gal-a.jpg" alt="project-1" />
        <figcaption>
          <h5 class="reveal fade-bottom">Project title</h5>
          <p class="reveal fade-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </figcaption>
      </div>
      <div class="img-box reveal fade-bottom">
        <img src="assets/images/static/gal-h.jpg" alt="project-1" />
        <figcaption>
          <h5 class="reveal fade-bottom">Project title</h5>
          <p class="reveal fade-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </figcaption>
      </div>
    </div>
  </div>
</section>
<section class="contact py-6">
  <div class="container">
    <div class="col-lg-6 mx-auto">
      <div class="title-block text-center">
        <h6 class="reveal fade-bottom text-white" i18n>LET'S WORK TOGETHER</h6>
        <h3 class="reveal fade-bottom text-info" i18n>GET IN TOUCH</h3>
      </div>

      <div class="my-5">
        <form class="contact-form reveal fade-bottom mx-auto">
          <div class="mb-3 input-box">
            <input type="text" class="form-input" id="name" placeholder="">
            <label for="name" class="input-label">Name</label>
          </div>
          <div class="mb-3 input-box">
            <input type="text" class="form-input" id="email" placeholder="">
            <label for="email" class="input-label">Email</label>
          </div>
          <div class="mb-3 input-box">
            <input type="text" class="form-input" id="subject" placeholder="">
            <label for="subject" class="input-label">Subject</label>
          </div>
          <div class="textarea-box mb-3">
            <textarea class="form-textarea" placeholder="" id="textarea"></textarea>
            <label class="input-label">Message</label>
          </div>
          <div class="text-center">
            <button type="submit" class="default-btn btn">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
<section class="blog py-6">
  <div class="container">
    <div class="title-block text-center">
      <h6 class="reveal fade-bottom" i18n>STAY INFORMED AND ENTERTAINED BY</h6>
      <h3 class="reveal fade-bottom" i18n>OUR BLOG</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="blog-card reveal fade-bottom" [routerLink]="'/blog'">
          <img src="assets/images/static/blog-img-a.png" alt="Blog thumbnail" class="blog-thumbnail">
          <div class="blog-content">
            <h5 class="blog-title">Lorem ipsum dolor sit amet</h5>
            <p class="blog-nugget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ligula vitae nisi tincidunt dapibus.</p>
            <div class="avatar">
            <img src="assets/images/static/lyra.jpg" alt="Author profile" class="author-profile">
            </div>
            <p class="author-name">Jane Doe</p>
            <p class="date-of-creation">March 25, 2023</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-card reveal fade-bottom" [routerLink]="'/blog'">
          <img src="assets/images/static/blog-img-b.jpg" alt="Blog thumbnail" class="blog-thumbnail">
          <div class="blog-content">
            <h5 class="blog-title">Lorem ipsum dolor sit amet</h5>
            <p class="blog-nugget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ligula vitae nisi tincidunt dapibus.</p>
            <div class="avatar">
              <img src="assets/images/static/lyra.jpg" alt="Author profile" class="author-profile">
            </div>
            <p class="author-name">Jane Doe</p>
            <p class="date-of-creation">March 25, 2023</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-card reveal fade-bottom" [routerLink]="'/blog'">
          <img src="assets/images/static/blog-img-c.jpg" alt="Blog thumbnail" class="blog-thumbnail">
          <div class="blog-content">
            <h5 class="blog-title">Lorem ipsum dolor sit amet</h5>
            <p class="blog-nugget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ligula vitae nisi tincidunt dapibus.</p>
            <div class="avatar">
              <img src="assets/images/static/lyra.jpg" alt="Author profile" class="author-profile">
            </div>
            <p class="author-name">Jane Doe</p>
            <p class="date-of-creation">March 25, 2023</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
