<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h6 class="footer-title">Explore</h6>
        <ul class="footer-list">
          <li>
            <a href="">lorem</a>
          </li>
          <li>
            <a href="">lorem ipsum</a>
          </li>
          <li>
            <a href="">lorem</a>
          </li>
          <li>
            <a href="">lorem ipsum dorm</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="footer-title">Our Community</h6>
        <ul class="footer-list">
          <li>
            <a href="">lorem</a>
          </li>
          <li>
            <a href="">lorem ipsum</a>
          </li>
          <li>
            <a href="">lorem</a>
          </li>
          <li>
            <a href="">lorem ipsum dorm</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="footer-title">Newsletter</h6>
        <div class="d-flex gap-2 align-items-center ">
          <span><i class="bi bi-envelope"></i></span>
          <p>Receive latest news in your inbox.</p>
        </div>
        <form class="footer-form">
          <input type="text" placeholder="Enter your email">
          <button type="submit">Subscribe</button>
        </form>
        <p>By subscribing to this newsletter, you agree to the terms and conditions</p>
      </div>
      <div class="col-md-4">
        <h6 class="footer-title">Become a member</h6>

        <p>Stay connected with me! Follow my social media handles for exciting updates,
          exclusive offers, and a closer look at my journey. Your support means the world to me! </p>

        <h6 class="small">Follow me on</h6>
        <ul class="social-list">
          <li>
            <a href="">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="bi bi-twitter-x"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="bi bi-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
