<section class="blog-detail py-6">
  <div class="container">
    <div class="col-md-8 mx-auto">
      <div class="title-block">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, repellendus.</h3>

        <div class="row">
          <div class="col-8">
            <div class="author">
              <div class="avatar">
                <img src="assets/images/static/lyra.jpg" alt="">
              </div>
              <div class="author-info">
                <h6>Author name</h6>
                <p class="blog-date">June 3, 2024</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="social-buttons w-100 d-flex justify-content-between">
              <a class="social-btn" i18n>
                <i class="bi bi-share"></i>
              </a>
              <a href="#" class="social-btn" i18n>
                <i class="bi bi-facebook"></i>
              </a>
              <a href="#" class="social-btn" i18n>
                <i class="bi bi-twitter"></i>
              </a>
              <a href="#" class="social-btn" i18n>
                <i class="bi bi-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="thumbnail">
          <img src="assets/images/static/contact-bg.jpg" alt="">
        </div>
        <div class="blog-body">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Blanditiis corporis eaque esse explicabo, facilis impedit
            incidunt ipsam iure minus odio, perspiciatis provident
            repellendus reprehenderit, sapiente tempora unde veniam.
            Animi, autem dolore dolores exercitationem impedit ipsum
            itaque iure non obcaecati odit officiis porro quae quam quo
            sint soluta tenetur totam voluptatibus.</p>
        </div>
      </div>
    </div>
  </div>
</section>


