<div class="message-detail-header">
  <h3>Messages</h3>
</div>
<div class="messages mt-5">
  <div class="message my-3">
    <div class="message-header d-flex justify-content-between align-items-center">
      <div class="message-header-left d-flex gap-4">
        <div class="message-avatar">
          <img src="assets/images/static/placeholder.png" alt="">
        </div>
        <div class="message-info d-flex gap-4 align-items-center">
          <h6 class="user-name p-0 m-0">
            Name
          </h6>
          <small class="message-time">
            10:00 AM
          </small>
        </div>
      </div>
      <div class="message-header-right">
        <div class="message-options">
          <a href="" class="">
            <i class="bi bi-trash2"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="message-body mt-2">
      <p>Lorem ipsum dolor sit amet, consectetur ur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <hr>
  </div>
  <div class="message my-3">
    <div class="message-header d-flex justify-content-between align-items-center">
      <div class="message-header-left d-flex gap-4">
        <div class="message-avatar">
          <img src="assets/images/static/placeholder.png" alt="">
        </div>
        <div class="message-info d-flex gap-4 align-items-center">
          <h6 class="user-name p-0 m-0">
            Name
          </h6>
          <small class="message-time">
            10:00 AM
          </small>
        </div>
      </div>
      <div class="message-header-right">
        <div class="message-options">
          <a href="" class="">
            <i class="bi bi-trash2"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="message-body mt-2">
      <p>Lorem ipsum dolor sit amet, consectetur ur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <hr>
  </div>
</div>

